@media print {
  body {
    margin: 0;
    padding: 0;
    zoom: 80%;
  }

  table {
    page-break-inside: avoid;
    width: 100%;
  }

  * {
    box-sizing: border-box;
  }

    button.MuiButton-root {
        display: none;
    }
}